.cartBlock {
  padding: 0 0 70px;
  font-size: 20px;
}
.cartHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deleteAll {
  text-align: right;
  position: relative;
  right: 40px;
}
.deleteAll:hover {
  cursor: pointer;
  color: rgb(86, 85, 85);
}
.cartContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
.itemInfo {
  display: flex;
  gap: 4px;
}
.sushiImg {
  width: 100px;
  height: auto;
}
.sauseInfo {
  position: relative;
  right: 126px;
  bottom: -25px;
  color: grey;
}
.itemAmount {
  display: flex;
  align-items: center;
  gap: 2px;
}
.minus,
.plus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(229, 81, 18, 0.557);
  background-color: inherit;
}
.minus:hover,
.plus:hover {
  background-color: rgba(229, 81, 18, 0.557);
  cursor: pointer;
}
.deleteItem i:hover {
  color: grey;
  cursor: pointer;
}
.orderDetails {
  display: flex;
  justify-content: space-between;
  margin: 0px 90px;
  margin-top: 2rem;
}
.bottomButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.backHome {
  background-color: inherit;
  border: 1px solid rgba(128, 128, 128, 0.393);
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.backHome:hover {
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.5s ease;
}
.orderNow {
  background-color: rgba(229, 81, 18, 0.557);
  border: 1px solid rgb(229, 81, 18);
  border-radius: 50px;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  text-decoration: none;
}
.orderNow:hover {
  background-color: white;
  color: rgb(229, 81, 18);
  cursor: pointer;
  transition: all 0.5s ease;
}
