.cartBlock {
  max-width: 1100px;
  margin: 0 auto;
}
.deleteAll {
  text-align: right;
  position: relative;
  right: 40px;
}
.deleteAll:hover {
  cursor: pointer;
  color: rgb(86, 85, 85);
}
h2 {
  text-align: center;
}
.project {
  display: flex;
  justify-content: space-between;
}
.shop {
  flex: 75%;
}
.box {
  display: flex;
  width: 125%;
  height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 8px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.062);
  border: 1px solid rgba(128, 128, 128, 0.224);
  transition: all 0.6s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.box:hover {
  transform: scale(1.02);
}
.box img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}
.content {
  margin-left: 3px;
  position: relative;
  width: 100%;
  font-size: 18px;
}
.content h3 {
  margin-top: 4px;
  margin-bottom: 0;
}
.content .sauceInfo {
  margin-bottom: 20px;
  color: rgb(45, 44, 44);
}
.removeItemBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.607);
  padding: 8px 10px;
}
.removeItemBtn:hover {
  color: black;
  cursor: pointer;
}
.itemAmount {
  display: flex;
  align-items: center;
  gap: 2px;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.minus,
.plus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: inherit;
}
.minus:hover,
.plus:hover {
  background-color: rgba(128, 128, 128, 0.537);
  cursor: pointer;
}
.rightBar {
  width: 350px;
  padding: 20px;
  height: 350px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.062);
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.rightBar hr {
  margin-bottom: 25px;
}
.rightBar p {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  font-size: 20px;
}
.orderNow {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: rgba(128, 128, 128, 0.062);
  text-decoration: none;
  margin-bottom: 3px;
  color: black;
  transition: all 0.6s ease;
  font-size: 20px;
}
.backHome {
  display: block;
  color: black;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: rgba(128, 128, 128, 0.062);
  text-decoration: none;
  transition: all 0.6s ease;
  font-size: 20px;
}
.orderNow:hover,
.backHome:hover {
  background-color: rgba(128, 128, 128, 0.242);
}
.mobileRightBar {
  display: none;
}
@media screen and (max-width: 780px) {
  .project {
    flex-direction: column;
    width: 88%;
    margin-right: 0 10px;
  }
  .rightBar {
    display: none;
  }
  .mobileRightBar {
    display: block;
    width: 98%;
    height: 150px;
  }
  .mobileItemsPrice {
    display: flex;
    justify-content: space-around;
  }
  .mobileBtnContainer {
    position: relative;
    left: 5%;
    margin: 5px;
  }
  .mobileOrderNow {
    padding: 10px 15px;
    background-color: antiquewhite;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  .itemAmount {
    right: 2px;
    bottom: 2px;
    align-items: center;
  }
  .minus,
  .plus {
    width: 27px;
    height: 27px;
  }
}
@media screen and (max-width: 950px) {
  .rightBar {
    margin-bottom: 20px;
    width: 280px;
    padding: 8px;
  }
  .box {
    height: 140px;
    width: 110%;
    margin-left: 2px;
  }
  .box img {
    width: 160px;
    height: 120px;
  }
}
