input[type="text"] {
  width: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  padding: 12px 20px 12px 35px;
  background-image: url("../assets/images/search-icon.webp");
  background-position: 2px 2px;
  background-repeat: no-repeat;
  transition: width 0.6s ease-in-out;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
input[type="text"]:focus {
  width: 30%;
}
input::placeholder {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 622px) {
  input::placeholder {
    font-size: 15px;
  }
}
