.itemDetailBlockInfo {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: 440px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.297);
}
.itemDetailBlockInfo:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.mainImgContain {
  width: 50%;
  min-width: 350px;
}
.mainImg {
  width: 90%;
  height: 350px;
  border-radius: 10px;
  margin: 20px;
}
.infoBlock {
  background-color: white;
  width: 50%;
  min-width: 270px;
  min-height: auto;
  text-align: center;
}
.title {
  letter-spacing: 2px;
  text-align: center;
}
.ingredientsBlock {
  display: flex;
  justify-content: center;
  position: relative;
  left: 71px;
}
.ingridientImg {
  width: 80px;
  height: auto;
}
.ingridientImg:hover {
  width: 90px;
}
@media screen and (max-width: 1063px) {
  .itemDetailBlockInfo {
    flex-direction: column;
    gap: 0;
    margin: 15px;
    height: 930px;
    margin: 0 auto;
    width: 80%;
    min-width: 600px;
  }
  .mainImgContain {
    width: 100%;
    min-width: 500px;
  }
  .mainImg {
    width: 95%;
    height: 450px;
  }
  .infoBlock {
    margin: 0 auto;
    width: 100%;
  }
  .ingredientsBlock {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .ingridientImg {
    width: 100px;
  }
}
@media screen and (max-width: 768px) {
  .itemDetailBlockInfo {
    margin: 0 auto;
    width: 60%;
    min-width: 450px;
    height: 750px;
  }
  .mainImg {
    width: 80%;
    height: 300px;
  }
  .infoBlock {
    font-size: 12px;
  }
  .ingridientImg {
    width: 65px;
  }
}
@media screen and (max-width: 616px) {
  .itemDetailBlockInfo {
    width: 50%;
    min-width: 320px;
    margin: 0 auto;
    height: 700px;
  }
  .mainImgContain {
    width: 50%;
    min-width: 300px;
  }
  .mainImg {
    width: 90%;
    height: 150px;
  }
  .title {
    font-size: 20px;
  }
  .ingredientsBlock {
    flex-wrap: wrap;
    margin-left: -38px;
  }
  .infoBlock {
    font-size: 17px;
  }
}
