.itemDetailBlock {
  max-height: 1000px;
}
.itemDetailBlockInfo {
  display: flex;
  gap: 5px;
  margin: 20px;
}
.mainImgContain {
  width: 55%;
  min-width: 350px;
}
.mainImg {
  width: 90%;
  height: auto;
}
.infoBlock {
  width: 45%;
  min-width: 270px;
  min-height: auto;
  text-align: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.297);
}
.title {
  letter-spacing: 2px;
  margin-bottom: 70px;
}
.ingridientsTitle {
  margin-left: 20px;
  letter-spacing: 2px;
}
.ingredientsBlock {
  width: 44%;
  min-width: 350px;
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.ingridientImg {
  width: 80px;
  height: auto;
}
@media screen and (max-width: 1158px) {
  .title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1063px) {
  .itemDetailBlockInfo {
    flex-direction: column;
    gap: 0;
    margin: 15px;
  }
  .mainImgContain {
    width: 100%;
    min-width: 80px;
  }
  .mainImg {
    width: 100%;
  }
  .infoBlock {
    margin: 0 auto;
    width: 88%;
    min-width: 100px;
  }
  .ingredientsBlock {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .ingridientsTitle {
    text-align: center;
  }
}
