.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.logoImg {
  position: relative;
}
.logoImg img {
  width: 120px;
  height: auto;
  margin-top: 4px;
}
.logoName {
  width: 120%;
  position: absolute;
  bottom: 6px;
  left: 10px;
  font-size: 20px;
  color: black;
  font-weight: 800;
}
.cartInfo {
  background-color: rgba(229, 81, 18, 0.715);
  border-radius: 40px;
  padding: 10px 30px;
  display: flex;
  gap: 10px;
}
.cartInfo:hover {
  background-color: rgba(229, 81, 18, 0.559);
}
.cartInfo a {
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  position: relative;
  top: 3px;
  color: black;
}
.cartInfo i {
  font-size: 17px;
  padding-right: 1px;
}
.price::after {
  content: "";
  width: 5%;
  height: 24px;
  position: absolute;
  right: -5px;
  background-color: black;
  border-left: 2px;
}
