.emptyCartBlock {
  height: 35rem;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
}
.emptyCartBlock p {
  color: grey;
  letter-spacing: 2px;
}
.emptyCartBlock img {
  width: 35%;
  height: auto;
}
.backShopBtn {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  width: 25%;
  padding: 10px 12px;
  font-size: 19px;
  border-radius: 4px;
  letter-spacing: 2px;
}
.backShopBtn:hover {
  background-color: rgba(128, 128, 128, 0.196);
  cursor: pointer;
  font-weight: bold;
}
@media screen and (max-width: 430px) {
  .emptyCartBlock {
    font-size: 15px;
    height: 20rem;
  }
  .emptyCartBlock p {
    letter-spacing: 1px;
  }
}
