.emptyCartBlock {
  height: 35rem;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: white;
}
.emptyCartBlock h1,
.emptyCartBlock p,
.imgContainer {
  width: 80%;
  background-color: white;
}
.emptyCartBlock h1 {
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.emptyCartBlock p {
  letter-spacing: 2px;
  margin-top: 39px;
  font-weight: bold;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.imgContainer {
  height: auto;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.emptyCartBlock img {
  width: 60%;
}
.backShopBtn {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding: 10px 12px;
  font-size: 19px;
  border-radius: 4px;
  letter-spacing: 2px;
}
.backShopBtn:hover {
  cursor: pointer;
  font-weight: bold;
}
@media screen and (max-width: 430px) {
  .emptyCartBlock {
    font-size: 15px;
    height: 20rem;
  }
  .emptyCartBlock p {
    letter-spacing: 1px;
  }
}
