.container {
  background-attachment: fixed;
  background-size: cover;
  max-width: 85rem;
  margin: 2px auto;
  border-radius: 5px;
  z-index: 1;
}
.itemCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 15px;
  min-width: 260px;
  z-index: 3;
  margin-top: 10rem;
  margin-bottom: 7rem;
}
a {
  text-decoration: none;
  color: black;
}
