.sort {
  position: absolute;
  left: 50px;
  top: 130px;
  margin-top: 3rem;
  z-index: 999;
}
.listWrapper {
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.196);
}
.listWrapper li {
  list-style: none;
  padding: 8px 8px;
  font-size: 20px;
  letter-spacing: 1px;
}
.listWrapper li:hover {
  cursor: pointer;
  color: rgba(229, 81, 18, 0.557);
}
.listWrapper li.active {
  color: rgba(229, 81, 18, 0.557);
}
b,
.options {
  font-size: 23px;
}
.options {
  text-decoration: dotted;
  color: rgba(229, 81, 18, 0.557);
}
.options:hover {
  cursor: pointer;
  color: rgba(229, 81, 18, 0.733);
}
